<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<style>

</style>
<body>
<h1>Form Sample Page</h1>
<pre th:text="${msg}">$msg</pre>
<form method="post" action="/form">
    <div>
        <input type="checkbox" id="check1" name="check1" />
        <label for="check1">チェック</label>
    </div>
    <div>
        <input type="radio" id="radioA" name="radio1" value="male"/>
        <label for="radioA">男性</label>
    </div>
    <div>
        <input type="radio" id="radioB" name="radio2" value="female" />
        <label for="radioB">女性</label>
    </div>
    <div>
        <select id="select1" name="select1" size="4">
            <option value="Windows">Windows</option>
            <option value="Mac">Mac</option>
            <option value="Linux">Linux</option>
        </select>
        <select id="select2" name="select2" size="4">
            <option value="Android">Android</option>
            <option value="iPhone">iPhone</option>
            <option value="WinPhone">WinPhone</option>
        </select>
        
    </div>
    <input type="submit" value="Click" />
</form>
</body>
</html>